<template>
    <require from="../utils/currency-format">
    </require>
	<div class="flex-col">
		<div class="question-panel" if.bind="!answeredYes">
		    <div repeat.for="question of completedResidents">
		       Foo
			    <p class="byline" repeat.for="income of question.resident.income">
			      Bar
		  	        <input type="text" class="income-amount" value.bind="income.amount | currencyFormat">
		  	        <select value.bind="income.frequency">
					    <option repeat.for="frequency of frequencies">${frequency}</option>
				    </select> from
				    <select >
					    <option repeat.for="question of currentQuestion.questions">${question}</option>
			        </select>
			         <button type="submit" class="btn btn-primary-alt" click.delegate="removeIncome(income)"><i class="fa fa-minus"></i></button>
		  	    </p>
		    </div>
		    <p class="main">
		      Please list all income for ${currentQuestion.resident.firstName} ${currentQuestion.resident.lastName}
		    </p>
	    	<p class="byline" repeat.for="income of currentQuestion.resident.income">
	  	        <input type="text" class="income-amount" value.bind="income.amount | currencyFormat">
	  	        <select value.bind="income.frequency">
				    <option repeat.for="frequency of frequencies">${frequency}</option>
			    </select> from
			    <select >
				    <option repeat.for="question of currentQuestion.questions">${question}</option>
		        </select>
		         <button type="submit" class="btn btn-primary-alt" click.delegate="removeIncome(income)"><i class="fa fa-minus"></i></button>
	  	    </p>
		  	<p class="byline"> 
				<input type="text" class="income-amount" value.bind="incomeAmount | currencyFormat"> 
				<select value.bind="selectedFrequency">
				    <option repeat.for="frequency of frequencies">${frequency}</option>
			    </select> from
			    <select >
				    <option repeat.for="question of currentQuestion.questions">${question}</option>
			    </select>
			    <button type="submit" class="btn btn-primary-alt" click.delegate="submit()"><i class="fa fa-plus"></i></button>
			</p>
		</div>
		<div class="yes-no" if.bind="!answeredYes">
				<button class="btn btn-primary" click.delegate = "incrementQuestion()">Done</button>
		</div>
	</div>
</template>