<template>
	<div class="column-labels">
		<div>
		  <span>First Name</span>
		</div>
		<div>
		  <span>Last Name</span>
		</div>
		<div id="button-padding-div"></div>
	</div>
	<div class="resident-row new" repeat.for="savedChild of displaylist">
		<input type="text" value.bind="savedChild.firstName" class="form-control" placeholder="first name">
		<input type="text" value.bind="savedChild.lastName" class="form-control"  placeholder="last name">
		<button type="submit" class="btn btn-primary-alt" click.delegate="remove(savedChild)"><i class="fa fa-minus"></i></button>
	</div>
	<div class="resident-row">
		<input type="text" value.bind="child.firstName" class="form-control" id="fn2" placeholder="first name">
		<input type="text" value.bind="child.lastName" class="form-control" id="ln" placeholder="last name">
		<button type="submit" class="btn btn-primary-alt" click.delegate="submit()"><i class="fa fa-plus"></i></button>
	</div>
</template>