@import "nib"

button
  &.continue
    margin-top 10px
  &.btn
  	border 0
    border-radius 0.3rem
    cursor pointer
  &.btn-primary
    background-color #0071bc
    color #fff
    &:active
      background-color #112e51
    &:hover
      background-color #205493
      color #fff
      border-bottom 0
      text-decoration none
  &.btn-primary-alt
  	background-color #02bfe7
  	color #212121
  	&:active
  	  background-color #046b99
  	  color #fff
  	&:hover
  	  background-color #00a6d2
  	  color #212121
  &.btn-secondary
  	background-color #e31c3d
  	color #fff
  	&:active
  	  background-color #981b1e
  	&:hover
  	  background-color #cd2026
  	  color #fff
.yes-no
  button
  	margin-right 10px
  	flex 1
  	max-width 200px
  	