@import "nib"

.question-panel
  font-family "Montserrat"
  display flex
  flex-direction column
  .main
  	font-size 28px
  	line-height 43px
  .byline
  	font-style normal
  	font-weight 400
  	font-size 13px
  	line-height 1.4