@import "nib"

resident-list
  #button-padding-div
    max-width 37px
    min-width 37px
  .new
  	input
  		border-style none none solid none
  		margin-bottom 10px
  		box-shadow none
  	button
  		margin-bottom 10px
  
  .resident-row
    display flex
    input
      margin-right 10px	
  .column-labels
  	display flex
  	div
  	  flex 1
  	  :nth-child(2)
  	    margin-left 10px